
    body{
        font-family: Arial, sans-serif;
        margin:20px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1vh;
        background-color: #13da3ef0;

    }
    h1{
        text-align:center;
        margin-top: 30px;
    }
   
    h2{
        text-align:center;
        margin-top: 30px;
    }

    .login-box{
        width: 300px;
        padding: 20px;
        background-color: #13da3ef0;
        border-radius: 8px; 
        box-shadow: 0 5px 9px #13da3ef0;  
    }
    .login-box h2{
        text-align: center;
        margin-bottom: 500px;
        color: #000;           
    }
    .login-box input{
        width: 95%;
        padding: 10px;
        margin: 1px 0;
        border: 1px solid #ccc;
        border-radius: 1px;
    }
    .login-box button{
        width: 40%;
        padding: 10px;
        background-color: #130505;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;    
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    .login-box button:hover{
        background-color: #040305;
    }
